{% extends 'base.html.twig' %}

{% block title %}Encode{{ parent() }}{% endblock %}

{% block body %}
    <h1>Urls info</h1>
    <div>
        <form action="{{ path('shortener_encode') }}" method="post">
            <label>
                Url:
                <input type="text" name="url">
            </label>
            <button type="submit">Add url</button>
        </form>
    </div>
{% endblock %}
